@page
@model SE1728_Group2_A2.Pages.Staffs.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Staff</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staff.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staff.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff.Role)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staff.RoleName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Staff?.StaffId" class="btn btn-primary">Edit</a> |
    <a asp-page="./Index" class="btn btn-dark">Back to List</a>
</div>
