@page
@model SE1728_Group2_A2.Pages.Staffs.ProfileModel

@{
    ViewData["Title"] = "Details";
}

<h1>Profile</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staff.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staff.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff.Role)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staff.RoleName)
        </dd>
    </dl>
</div>
<div>
    @if (Model.Staff.Role == 0)
    {
        <a asp-page="/Staffs/EditProfile" asp-route-id="@Model.Staff?.StaffId" class="btn btn-primary">Update</a>
    }
</div>
