@page
@model SE1728_Group2_A2.Pages.Orders.IndexModel
@using SE1728_Group2_A2.Utils.ModelHelper

@{
    ViewData["Title"] = "Index";
}

<h1>@ViewData["PageHeading"]</h1>

<p>
    <a asp-page="Create" class="btn btn-primary">Create New Order</a>
</p>
<form asp-page="./Index" method="post">
    <label for="searchDate">Search orders by date:</label>
    <input id="searchDate" asp-for="@Model.SearchDate" class="form-control" />
    <input type="submit" value="Search" class="btn btn-primary mt-2" />
</form>
<table class="table table-hover mt-3">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Date
            </th>
            <th>
                Total
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Order)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderId)
                </td>
                <td>
                    @OrdersHelper.GetFormatedDateTime(item.OrderDate)
                </td>
                <td>
                    @OrdersHelper.GetFormatedCurrency(OrdersHelper.CalculateOrderTotal(item))
                </td>
                <td>
                    <button class="btn btn-success view-details" data-order-id="@item.OrderId">View Details</button>
                    <a asp-page="./Edit" asp-route-id="@item.OrderId" class="btn btn-warning">Edit</a>
                    <a class="btn btn-danger btnDelete" data-id="@item.OrderId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<h2>@ViewData["OrderTotalInDay"]</h2>
<div id="displayDate" data-message="@Model.DisplayDate"></div>

<!-- Bootstrap Modal -->
<div class="modal fade" id="orderDetailsModal" tabindex="-1" role="dialog" aria-labelledby="orderDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-lg-custom" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="orderDetailsModalLabel">Order Details</h5>
            </div>
            <div class="modal-body">
                <table class="table" id="orderDetailsTable">
                    <!-- Order details will be populated here -->
                </table>
            </div>
            <div class="modal-footer">
                <a id="editOrderLink" class="btn btn-warning">Edit</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<style>
    .modal-lg-custom {
        max-width: 60%;
    }
</style>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var displayDate = document.getElementById('displayDate');
        var displayDateVal = displayDate.getAttribute('data-message');
        var date = new Date(displayDateVal);
        flatpickr("#searchDate", {
            dateFormat: "d/m/Y",
            defaultDate: date,
            maxDate: "today"
        });
    });
</script>

@section Scripts {
    <script>
        document.addEventListener('click', function (event) {
            if (event.target.classList.contains('btnDelete')) {
                // Get the order ID from the data-id attribute of the Delete button
                var orderId = event.target.getAttribute('data-id');
                var displayDate = document.getElementById('displayDate');
                var displayDateVal = displayDate.getAttribute('data-message');
                Swal.fire({
                    title: "Are you sure you want to delete this order?",
                    icon: 'warning',
                    showDenyButton: true,
                    confirmButtonText: "No", // Confirm button moved to the right
                    denyButtonText: "Yes" // Deny button moved to the left
                }).then((result) => {
                    if (!result.isConfirmed) {
                        window.location.href = 'Orders/Delete?id=' + orderId;
                        window.location.href = '@Url.Page("Delete")?id=' + orderId + "&searchedDate=" + displayDateVal;
                    }
                });
            }
        });
    </script>

    <script>
        $(document).ready(function () {
            $('.view-details').click(function () {
                var orderId = $(this).data('order-id');
                // Set the orderId to the edit link
                $('#editOrderLink').attr('href', '@Url.Page("./Edit")' + '?id=' + orderId);

                $.ajax({
                    url: '@Url.Page("OrderDetails", "OnGetOrderDetails")',
                    type: 'GET',
                    data: { orderId: orderId },
                    success: function (data) {
                        $('#orderDetailsTable').html(data);
                        $('#orderDetailsModal').modal('show');
                    },
                    error: function () {
                        alert('Error fetching order details.');
                    }
                });
            });

            // Bind close action directly to the "Close" button
            $('#orderDetailsModal .btn-secondary').click(function () {
                $('#orderDetailsModal').modal('hide');
            });
        });

    </script>

}


